button {
    background-color: #1e857c;
   border-radius: 50px;
    justify-content: space-around;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.Joseph{
    text-align: center;
    background-color: rgb(242, 233, 233);
    color: black;
}
.Access{
    font-size: 30px;
    text-align: center;
    color: black;
}
.Eaglet{
    text-align: center;
    color: black;
    font-size: 20px;
}
.Crow{
    text-align: center;
    color: black;
    font-size: 35px;
}
.Raven{
    text-align: center;
    color: black;
    font-size: 20px;
    margin-top: 1.5px;

}
.Owl{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
}